# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
db.sqlite3

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/.env
frontend/node_modules/
backend/__pycache__/
